.popup {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 60vw;
    max-width: 640px;
    background-image: url('/public/Images/Paperback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}