@import url('https://fonts.googleapis.com/css?family=Papyrus');

.rpgTitle{
    color: white; /* Set the background color to black */
    text-align: center;
    font-weight: bold;
    font-family: 'Papyrus', sans-serif; 
}

.footerImage{
    background-image: url('/public/Images/stoneWall.png');
    background-size: cover; 
    margin: -40px;
    margin-left: 0;
    margin-right: 0;
}


.rpgNavbar .navItem {
    float: left;
}
.loginButton
{
    float: right;
}

.rpgNavbar {
    display: flex;
    background-color: black; /* Set the background color to black */
    padding: 10px; /* Add padding to space the items */
    list-style-type: none;
    margin: 0;
    padding-left: 6%;
    padding-top: 6%;
    background-image: url('/public/Images/stoneWall.png');
    background-size: cover; 
  }
  
  .rpgNavbar a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Papyrus', sans-serif; 
    margin: 10px; 
    border-radius: 15px; 
    background-image: url('/public/Images/stoneButton.png'); 
    background-size: cover; 
    background-position-y: 10%;
  }
  
  .rpgNavbar a:hover {
    transform: scale(1.20); 
    transition: background-color 0.3s, transform 0.3s; 
    color: gold;
  }

.musicButt {
    width: 70vw;
    height: 7vh;
    background-image: url('/public/Images/stoneButton.png'); 
    background-size: cover;  
    color: whitesmoke;
    background-color: black;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Papyrus', sans-serif; 
}

.rpgTextSection{

    width: calc(100vw - 50px); 
    color: whitesmoke;
    padding: 25px; 

    background-image: url('/public/Images/stoneTablet.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
}


.qrImage{
    width: 638px !important;
    height: 825px !important;
    display: block;
}

.adminContainer
{
    background-color: white;
}




.inventory{
    padding: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: papyrus;
    color: whitesmoke;
}




.main {
    padding: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: papyrus;
    color: whitesmoke;
  }
  
  #title {
      text-decoration: bold;
      text-decoration: underline;
  }
  
  #rewards {
      margin: 16px;
      height: fit-content;
      border: black solid 5px;
      background-image: url('/public/Images/stoneTablet.png'); 
      background-size: cover; 
      background-repeat: no-repeat;
      color: whitesmoke;
      font-size: 7vw;
  }
  
  #rewards ul li {
      text-indent: -50px;
  }
  
  #enemyStats {
      display: flex;
      justify-content: space-between;
  }
  
  .enemyImage{
      width: 70vw;
      height: auto;
  }
  
  .optionsList {
      width: 100%;
      height: 20vh;   
      list-style-type: upper-roman;
      border: 2px solid;
      background-color: black;
      border-radius: 15px; 
      border-color: darkgray;
        
     
  }
  
  .optionsList li{
      width: 80%;
      height: 20%;
      font-size: 5vw;
      text-decoration: bold;
      margin-top: 1.5vh;
      background-image: url('/public/Images/stoneButton.png'); 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 10px; /* Adjust the padding to control the size of the button */
      border: none;
      color: white;
      cursor: pointer;
     
  }

  .characterForm {
    display: flex;
    flex-direction: column;
  }

  .helpButt {
    height:auto;
    width: 12vw;
    margin-top: 25px;
  }
