.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(0deg, #852727, #963e3e, #875c5c);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    margin: 1rem;
    padding: 3rem;
    border: 2px solid white;
    border-radius: 15px;
  } 
}

label {
  text-align: left;
  padding: 0.25 rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 15px;
}

button {
  border: none;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;

}