main {
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: papyrus;

  background-image: url('/public/Stoneback.jpg');
  background-size: cover;
}

.prompt {
  color: white;
  text-decoration: bold;
  text-shadow: 2px 2px black;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.chest {
  width: 50vh;
  height: auto;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.loginbutt {
  height: auto;
  width: 16vw;

  border: solid black;
  border-radius: 50%;

  position: absolute;
  top: 5vw;
  right: 5vw;
}

.compass {
  height: auto;
  width: 20vw;

  position: absolute;
  top: 5vw;
  left: 5vw;
}

.link-button {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
}

.link-button:hover {
  color: blue;
}